body {
    padding-top: 50px;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.poster-img {
    min-height: 330px;
    max-height: 330px;
    width: 230px;
}

.search-thumb {
    height: 500px;
    box-shadow: 2px 2px 10px #b6cfcf;
}

.media-title {
    margin-top: 10px;
}

.img-thumbnail {
    margin-top: 10px;
    margin-bottom: 5px;
}

p {
    margin: 2px;
}

.btn {
    margin-bottom: 10px;
}

.row {
    margin-right: 0px;
}