<div class="row">

    <div class="col-lg-3">
        <div class="input-group">
            <input class="form-control" type="text" ng-model="search" placeholder="search for.." autofocus>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Search</button>
        </span>

        </div>
    </div>

    <div class="" ng-switch on="type">
        <div class="col-lg-2" ng-switch-when="movie">
            <input class="form-control" type="text" ng-model="$parent.year" placeholder="year..">
        </div>
    </div>

    <p><a href="#/favorites/"
          class="btn btn-primary btn-sm pull-right"
          role="button">Watch Favorite Movies</a></p>

</div>

<div class="radio">
    <label><input type="radio" ng-model="type" value="movie">Movie</label>
    <label><input type="radio" ng-model="type" value="series">Series</label>
    <h3>You are searching for {{type}}: {{search}}</h3><br>
</div>

<div ng-if="allData.Response === 'False' && search !== ''">
    <p>No matching results..</p>
</div>

<div class="row text-center" ng-if="allData.Response ==='True'">

    <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="movie in allData.Search | limitTo: 12">
        <div class="thumbnail search-thumb">
            <img ng-src="{{movie.Poster}}" alt="" ng-if="movie.Poster !== 'N/A'" class="poster-img img-thumbnail">
            <img ng-src="resources/no image.jpg" ng-if="movie.Poster === 'N/A'" class="poster-img img-thumbnail">
            <div class="caption">
                <h4>{{movie.Title}}</h4>
                <p class="text-muted">
                    <small>{{movie.Year}} - {{movie.Type}}</small>
                </p>
                <p>
                    <a href="#/{{type}}/{{movie.imdbID}}"
                       class="btn btn-primary btn-sm"
                       role="button">More info</a>
                </p>
            </div>
        </div>
    </div>
</div>